*{
    background-color: rgb(242,255,244);
}
ul{
    margin-left: 20px;
    padding: 20px;
    text-align: center;
}
li{
    display: inline;
    margin-left: 20px;
}
a{
    background-image: url("../img/square1.jpg");
    background-repeat: no-repeat;
    text-align: center;
    width: 200px;
    font-size: 15px;
}
a:hover{
    background-image: url("../img/square2.jpg");
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
}
.grid>div{
    background-image: url("../img/bg_news.gif");
    background-repeat: no-repeat;
    padding: 15px;
    font-weight: bold;
}
.grid>div>p{
    font-weight: normal;
}